<!doctype html>

{% extends "base.html" %}

{% block content %}
    
    <h1>Welcome to the Admin Area, {{ user.username }}!</h1>
    

    <form action="/admin" method="get" class="searchForm">
        <input id="redo" class="buttons" type="submit" name="redo" value="Redo Database">
        <br>
        <input id="update" class="buttons" type="submit" name="update" value="Update Database">
        <label class="result"> </label>
       
    </form>
    <script> 
        const button_redo = document.getElementById("redo");
        const button_update = document.getElementById("update");
        
        button_redo.addEventListener("click", function() {
          if (button_redo.value === "Redo Database") {
            button_redo.value = "Loading... Don't cancel.";
          } else {
            button_redo.value = "Redo Database";
          }
        });

        button_update.addEventListener("click", function(){
          if (button_update.value === "Update Database") {
            button_update.value = "Updating... Don't cancel.";
          } else {
            button_update.value = "Update Database";
          }
        });
        
        function updateButton() {
          
        }

        </script>
{% endblock %}