<!doctype html>

{% extends "base.html" %}

{% block content %}
<script>
  var i, pagelinks, thispage;
  pagelinks = document.getElementsByClassName("nav-item");
  thispage = document.getElementById("admin")
  for (i = 0; i < pagelinks.length; i++) {
      pagelinks[i].className = pagelinks[i].className.replace(" active", "");
  };
  thispage.className += " active";

</script>

    <h1>Welcome to the Admin Area, {{ user.username }}!</h1>
    

    <form action="/admin" method="get" class="searchForm">
      <input id="update" class="buttons" type="submit" name="update" value="Update Database">
      <br>
      <input id="redo" class="buttons" type="submit" name="redo" value="Redo Database">
       
    </form>
    <script> 
        const button_redo = document.getElementById("redo");
        const button_update = document.getElementById("update");
        
        button_redo.addEventListener("click", function() {
          if (button_redo.value === "Redo Database") {
            button_redo.value = "Loading... Don't cancel.";
          } else {
            button_redo.value = "Redo Database";
          }
        });

        button_update.addEventListener("click", function(){
          if (button_update.value === "Update Database") {
            button_update.value = "Updating... Don't cancel.";
          } else {
            button_update.value = "Update Database";
          }
        });

        </script>
{% endblock %}