<!doctype html>

{% extends "base.html" %}

{% block content %}
    <!-- Link to your CSS file --> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 

    <h1>"QFever" Database</h1>

<table>
  <tr>
    <th>Content</th>
    <th>ID</th>
    <th>Created_at</th>
    <th>Language</th>
    <th>URI</th>
    <th>URL</th>
        
  </tr>

  <!-- <tr>  
  {% for post in posts%}
    {% for data in post %}
      <td>{{ data }}</td>
    {% endfor %}
  </tr>
  {% endfor %} -->

  <tr>  
    {% for post in posts%}
      <td>{{ post[5] }}</td>
      <td>{{ post[0] }}</td>
      <td>{{ post[1] }}</td>
      <td>{{ post[2] }}</td>
      <td>{{ post[3] }}</td>
      <td>{{ post[4] }}</td>
      

    
    </tr>
    {% endfor %}
  
</table>



    
{% endblock %}