<!doctype html>

{% extends "base.html" %}

{% block content %}
     
    <h1>QFever Database</h1>

<table id="basetable" class="display">
  <thead>
    <tr>
    <th>Content</th>
    <!-- <th>ID</th> -->
    <th>Timestamp</th>
    <!-- <th>URI</th> -->
    <th>URL</th>
    <th>Language</th>
        
    </tr>
  </thead>
  
  <tbody>
    <tr>  
      {% for post in posts%}
        <td>{{ post[5] }}</td>
        <!-- <td>{{ post[0] }}</td> -->
        <td>{{ post[1] }}</td>
        <!-- <td><a href = "{{ post[3] }}">{{ post[3] }}</a></td> -->
        <td><a href = "{{ post[4] }}">{{ post[4] }}</a></td>
        <td>{{ post[2] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<!-- Link to datatables css files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">
    
<!-- Link to datatables.net files -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<script>
  new DataTable('#basetable', {
  });
</script>

    
{% endblock %}