<!doctype html>

{% extends "base.html" %}

{% block content %}


<div class="menu-container">
    <form id="grid" class="button-container">
        
        <button href="#/databse" class="button">Database</button>
        <button href="#/search" class="button" style="overflow: auto;">Search Mastodon</button>
        <button href="#/Action5" class="button">Contact</button>
        <button href="#/admin" class="button">Admin Area</button>
        <button href="#/Action4" class="button">LIVIVO</button>
        <button href="#/Action5" class="button">CoxSpace</button>
        <button href="#/Action5" class="button">tbd</button>
        <button href="#/Action5" class="button">tbd</button>
    </form>
</div>
<!-- js script for navigation bar active button-->
<script>
    var i, pagelinks, thispage, iconlinks;
    pagelinks = document.getElementsByClassName("nav-item");
    thispage = document.getElementById("home")
    for (i = 0; i < pagelinks.length; i++) {
        pagelinks[i].className = pagelinks[i].className.replace(" active", "");
    };
    thispage.className += " active";

</script>


<!-- Link to datatables css files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">

<!-- Link to datatables.net files -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<!-- Link to mark.js to highlight in table -->
<script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">

<!-- Initializing DataTable table -->
{%for tablename in tablenames %}
<script>
    new DataTable('#{{tablename[0]}}', {
        mark: true
    });
</script>
{% endfor %}
{% endblock %}