<!doctype html>

{% extends "base.html" %}

{% block content %}

<h1>Search Mastodon</h1>

<!-- TODO change that only mastodon.social - dropdown menue open for dding more instnaces -->
<form action="" method="get" class="searchForm">
 <label> Mastodon Instance:</label> <input type="text" value="mastodon.social" name="instance">
  <label for="">Search query:</label> <input type="text" name="query">
  <label for="">Time from: </label><input type="date" name="start_date">
  <label for="">to: </label><input type="date" name="end_date">
  <input class="buttons" type="submit" value="Search">
</form>

<hr>

{%if posts != False%}
<table id="basetable" class="display">
  <thead>
    <tr>
      <th>Content</th>
      <!-- <th>ID</th> -->
      <th>Timestamp</th>
      <!-- <th>URI</th> -->
      <th>URL</th>
      <th>Language</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      {% for post in posts%}
      <td class="contentcell">{{ post["content"] }}</td>
      <!-- <td>{{ post[0] }}</td> -->
      <td>{{ post["created_at"] }}</td>
      <!-- <td><a href = "{{ post[3] }}">{{ post[3] }}</a></td> -->
      <td><a href="{{ post['uri'] }}">{{ post["uri"] }}</a></td>
      <td>{{ post["language"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%else%}

{%endif%}

<!-- Link to datatables css files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">
    
<!-- Link to datatables.net files -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<!-- Link to mark.js to highlight in table -->
<script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">

<!-- Initializing DataTable table -->
<script>
  new DataTable('#basetable', {
    mark: true
  });
</script>

{% endblock %}