<!doctype html>

{% extends "base.html" %}

{% block content %}


<div class="menu-container">
    <form id="grid" class="button-container">

        <button id="about us" href="https://q-gaps.de/" class="button">Q-GAPS</button>
        <button id="database" href="/database" class="button">Database</button>
        <button id="search" href="/search" class="button">Search</button>
        <button href="#/Action4" class="button">LIVIVO</button>
        <button href="#/Action5" class="button">CoxSpace</button>
        <button id="admin" href="/admin" class="button">Admin</button>
    </form>
</div>
<!-- js script for navigation bar active button-->
<script>
    var i, pagelinks, thispage, iconlinks;
    pagelinks = document.getElementsByClassName("nav-item");
    thispage = document.getElementById("home")
    for (i = 0; i < pagelinks.length; i++) {
        pagelinks[i].className = pagelinks[i].className.replace(" active", "");
    };
    thispage.className += " active";

</script>

{% endblock %}