<!doctype html>

{% extends "base.html" %}

{% block content %}


<div class="menu-container">
    <dev id="grid" class="button-container">
            <form action="/create"><button class="button"><a id="create" href="/create">Create</a></button></form>
            {%for tablename in listOfTables %}
            <form action="/tables/{{ tablename[0] }}">
                <button class="button" type="submit" value="{{ tablename[0] }}">{{ tablename[0] }}</button>
            </form>
        
        {%endfor%}
    </dev>
<!-- js script for navigation bar active button-->
<script>
    var i, pagelinks, thispage, iconlinks;
    pagelinks = document.getElementsByClassName("nav-item");
    thispage = document.getElementById("home")
    for (i = 0; i < pagelinks.length; i++) {
        pagelinks[i].className = pagelinks[i].className.replace(" active", "");
    };
    thispage.className += " active";

</script>

{% endblock %}