h1 {
  text-align: center;
  color: #336B6B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  text-align: center;
  color: #336B6B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body{
  text-align: center;
} */
nav {
  /*width: 100%;  Full-width */
  overflow: hidden;
  /* Overflow due to float */
}



nav a {
  float: left;
  /* Float links side by side */
  color: #336B6B;
  /* White text color */
  text-align: center;
  /* Center-align text */
  /*width: 25%;  Equal width (5 icons with 20% width each = 100%) */
  padding: 14px 16px;
  /* Some top and bottom padding */
  /* Increased font size */
  text-decoration: none;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

hr{
  margin: 5px;
}

nav h1 {

  padding: 0px 450px;
  margin-top: 10px;
  margin-bottom: -60px;
}

nav a:hover {
  background-color: #ddd;
  /* Add a hover color */
}

nav a.active {
  background-color: #336B6B;
  /* Add an active/current color */
  color: white;
}

nav a.split {
  float: right;
}

table.display {
  border: solid 5px #DDEEEE;
  border-collapse: collapse;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table.display thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

table.display tbody td {
  border: solid 1px #DDEEEE;
  

  max-width: 300px;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

div.widget-container{
  font-size: small;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
}

label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


div.dt-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




div#basetable_wrapper {
  margin: 0 200px;
  }


form {
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;

  /* border: solid 1px #DDEEEE; */
}

input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: groove;
  text-align: center;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 1.5;
}

.searchForm {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 20vw;
  grid-gap: 5px;
}

.searchForm>lable {
  white-space: nowrap;
}

.searchForm>input[type="submit"] {
  grid-column: span 2;
  align-self: center;
  margin-top: 8px;
}

input[name="instance"] {
  color: gray;

}

.saveForm {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 30vw;
  grid-gap: 5px;
}

.buttons {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #336b6b;
  background-image: linear-gradient(to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%));

  /*box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);*/

}

.buttons>input[id="redo"] {
  background-color: red;
}

.buttons:hover {
  background-color: #336b6bc2;
}

.buttons:active {
  background-color: #336b6b;
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}
.table-tab{
  margin: auto;
}

/* Style the tab */
.tab {
  width: 1000px;
  overflow: hidden;
  border: 0 12px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Style the buttons that are used to open the tab content */
button {
  float:left;
  cursor: pointer;
  transition: 0.3s;

  border: 1px;
  line-height: 2.5;
  padding: 0 20px;
  text-align: center;
  color: #336B6B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;
  border-color: #336B6B;
  background-color: white;
  text-transform: uppercase;
  background-image: linear-gradient(to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%));

}
/* Change background color of buttons on hover */
.button-container button:hover a{
  color: white;
}

.button-container a {
  color: #336B6B;
  text-decoration: none;
}

.button-container {
  position: relative;
  /*! display: inline-block;*/
  float: left;
}

.tab button.update {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: 1px;
  background-color: transparent;
  background-image: none;
  border: none;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.tab button.update:hover {
  background-color: transparent;
  color:#336B6B;

}

.split {
  float:right;
}

/* Change background color of buttons on hover */
button:hover{
  background-color: #336b6bc2;
  color: white;
}
.tab button:hover + button.update{
  background-color: none;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #336B6B;
  color: white;
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tab button.delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: 1px;
  background-color: transparent;
  background-image: none;
  color: grey;
  border: none;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.tab button.delete:hover{
  background-color: transparent;
  color: red;
}

/* Style the tab content */
.tabcontent {
  width: 1000px;
  display: none;
  border-color: #336B6B;
}

#grid.button-container {
  padding: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 600px;
  height: 300px;
  grid-gap: 5px;
  float: revert;
  background-color: #336b6b;
  border-radius: 10px;
  margin-top: 50px;
}

#grid.button-container button {
  font-size: x-large;
  background-image: none;
  border: revert;
  
}

#grid.button-container button:hover{
  background-color: #336b6bc2;
  color: white;
  border-color: white;
}
